# Latex stuff
*.aux
*.bbl
*.bbl
*.fls
*.fdb_latexmk
*.out
*.blg
*.gz
*.log
*.xsim
report.log
*.pdf

.venv/
__pycache__/
report/report.xsim
*.parquet

main.log
main.xsim
report/main.pdf
report/main.log
report/main.xsim
